:root {
    --white: #fafafa;
}

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 3rem 10rem;
}

#our-work {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('/img/our_work_bg.png');
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}

.title {
    font-size: 3vw;
    color: var(--white);
    text-align: center;
}

.gallery {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.gallery img, .middle-img {
    width: 30%;
    object-fit: cover;
}

.middle-img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.middle-img img {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .gallery {
        flex-direction: column;
    }

    .gallery img, .middle-img {
        margin-top: 20px;
        width: 100%;
    }

    .middle-img img:first-child {
        margin-top: 0;
    }
}

