@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --white: #fafafa;
    --overlay: linear-gradient(rgba(0, 0, 0, 0.493), rgba(0, 0, 0, 0.596)); 
}

* {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white);
    letter-spacing: 1.5px;
    font-size: 20px;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    padding: 0 15%;
}

nav {
    background: rgba(0, 0, 0, 0.205);
    width: 100%;
    padding: 0 4em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#brand-logo {
    width: 150px;
}

#brand-logo-mobile {
    display: none;
}

#nav-list {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav-item {
    text-align: center;
    padding: 2em 2em;
}

.nav-item:hover {
    background: rgba(0, 0, 0, 0.884);
    transition: .5s ease-in-out;
}

.nav-link {
    font-weight: bold;
    text-decoration: none;
}

.active {
    color: #00ffff;
}


#hamburger-menu {
    width: 8%;
    display: none;
}

#line-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.line {
    width: 100%;
    height: 4px;
    background: #fafafa;
}

.line:nth-child(2) {
    margin: 10px 0;
}

#hero {
    background-image: var(--overlay), url('../img/hero_bg.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#headline {
    opacity: .5;
}

#banner {
    animation: slide-up 1s ease-in-out;
}

@keyframes slide-up {
    0% {
        position: relative;
        transform: translateY(100%);
        opacity: 0;
    } 100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#down-arrow {
    width: 10vw;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    animation: up-down .75s ease-in-out infinite;
}

@keyframes up-down {
    0% {
        bottom: 40px;
    } 50% {
        bottom: 35px;
    } 100% {
        bottom: 40px;
    }
}

section:not(section:first-child) {
    padding-top: 20%;
    padding-bottom: 20%;
    text-align: center;
}

#about {
    position: relative;
}

#about:before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--overlay), url('../img/about_bg.jpg');
    background-size: cover;
    background-position: center;
    transform: rotate(180deg);
    z-index: -1;
}

.section-title {
    font-size: 48px;
}

#brand-img {
    margin-top: 80px;
    width: 25%;
}

#about-desc {
    margin-top: 60px;
    text-align: center;
}

#our-work {
    background-image: var(--overlay), url('../img/our_work_bg.png');
    background-size: cover;
}

#photo-list {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.photo-item {
    width: 31%;
    height: auto;
}

.photo {
    object-fit: cover;
}

#mini-photo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#mini-photo > .photo {
    width: 100%;
    height: 48%;
}

.photo:nth-child(2) {
    order: 2;
}

#contact-us {
    background: linear-gradient(rgba(0, 0, 0, 0.329), rgba(0, 0, 0, 0.363)), url('../img/contact_us_bg.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#contact-form {
    padding: 2em;
    width: 50%;
    margin-top: 40px;
    background: #c4c4c4;
    border-radius: 24px;
    border: 4px solid #393939;
}

input, textarea {
    padding: .5em 1.5em;
    background: #dfdfdf;
    border: 1px solid #212121;
}

input, label, textarea {
    color: #212121;
}

label {
    font-weight: bold;
}

::placeholder {
    font-weight: bold;
    color: #4d4d4d;
}

input:not(input[type="radio"]):focus, textarea:focus {
    outline: 1px solid#212121;
}

input:not(#name-input > input) {
    margin-top: 20px;
}

#name-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#name-input > input {
    width: 49%;
}

#email {
    width: 100%;
}

#number-and-gender {
    width: 100%;
    display: flex;
}

#phone-number {
    width: 50%;
}

#gender-input {
    margin-left: 20px;
    margin-bottom: 5px;
    width: 50%;
    display: flex;
    align-items: flex-end;
}




#female {
    margin-left: 20px !important;
}

#message {
    margin-top: 20px;
    width: 100%;
    min-height: 120px;
}

#submit {
    width: 80%;
    font-weight: bold;
    padding: .5em 0;
    border-radius: 24px;
}

#footer {
    background: #212121;
    padding-top: 3em;
    padding-bottom: 2em;
    font-weight: bold;
}

#footer-desc {
    display: flex;
    justify-content: space-between;
}

#managed-desc img {
    margin-top: 20px;
    width: 250px;
}

#copyright {
    margin-top: 30px;
    text-align: center;
}

#social-media-list {
    margin-top: 20px;
}

.social-media-link {
    display: inline-block;
    width: 40px;
}

.social-media-link {
    margin-right: 20px;
}

.social-media-icon {
    width: 100%;
}

@media screen and (max-width: 1024px) {
    #contact-form {
        width: 80%;
    }

    nav {
        height: 84px;
    }

    #nav-list {
        position: absolute;
        top: 84px;
        right: 0;
        flex-direction: column;
        width: 100%;
        background: rgba(0, 0, 0, 0.658);
        transform: translateY(-120%);
        transition: transform .5s ease-in-out;
        z-index: -1;
    }

    .nav-item {
        width: 100%;
    }

    #hamburger-menu {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    #brand-logo {
        display: none;
    }

    #brand-logo-mobile {
        display: block;
    }

    #brand-txt {
        width: 50%;
    }

    section:not(section:first-child) {
        padding-top: 10%;
    }

    .section-title {
        font-size: 24px;
    }

    #brand-img, #photo-list, #contact-form {
        margin-top: 40px;
    }

    #photo-list {
        flex-direction: column;
        align-items: center;
    }

    .photo-item {
        width: 50%;
    }

    .photo:not(.photo:first-child) {
        margin-top: 40px;
    }

    #mini-photo {
        margin-top: 40px;
    }

    #footer-desc {
        flex-direction: column;
    }

    #social-media {
        margin-top: 20px;
    }

    ::placeholder, input, textarea, label {
        font-size: 12px;
    }
}

@media screen and (max-width: 375px) {
    nav {
        padding: 0 1em;
    }
    .container {
        padding: 0 1em;
    }

    #contact-form {
        padding: 1em;
    }

    ::placeholder, input, textarea, label {
        padding: .25em;
    }

    #gender-input {
        margin-left: 5px;
    }
    
    input[type="radio"] {
        margin-top: 2px !important;
    }

    .radio-input {
        display: flex;
    }

    label {
        padding: 0;
    }

    #female {
        margin-left: 2.5px !important;
    }

    #footer-desc p, #copyright {
        font-size: 14px;
    }
}